
#entete{

    width: 100%;
    position: absolute;
}
.menu{

    position: relative;

}

ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    top:40px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    font-weight: bold;
    padding: 10px;
    margin: auto;
    border-radius: 50%;
     
}

a:hover{
    background-color: hsl(206, 94%, 87%);
    color:hsl(213, 96%, 18%);
}

input{

    color:hsl(213, 96%, 18%);
}

@media (min-width: 375px) {


 }


@media (min-width: 1440px){

}


// ## Colors

// ### Primary

// - Marine blue: hsl(213, 96%, 18%)
// - Purplish blue: hsl(243, 100%, 62%)
// - Pastel blue: hsl(228, 100%, 84%)
// - Light blue: hsl(206, 94%, 87%)
// - Strawberry red: hsl(354, 84%, 57%)

// ### Neutral

// - Cool gray: hsl(231, 11%, 63%)
// - Light gray: hsl(229, 24%, 87%)
// - Magnolia: hsl(217, 100%, 97%)
// - Alabaster: hsl(231, 100%, 99%)
// - White: hsl(0, 0%, 100%)

// ## Typography

// ### Body Copy

// - Font size (paragraph): 16px

// ### Font

// - Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu)
// - Weights: 400, 500, 700