
footer{

    position: absolute;
    top: 770px;
    width:100%;
    height: auto;
    background-color: white;
    
}

.positionbouton{

   display:flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   margin: 20px;
 
}

#bouton{

    padding: 10px 15px;
    color: white;
    background-color: hsl(213, 96%, 18%);;
    border-radius: 10%;
}

#bouton2{
    
    padding: 10px;
    color: grey;
    background-color: white;
    border-style: none;
  

}



// @media (min-width: 375px) {


// }


// @media (min-width: 1440px){

// }
