
<div class="card">
<h1>Finishing up</h1>
<p class="description">Double-check everything looks OK before confirming.</p>

<div class="bloc">
<div class="choix">
    <p class="section">Arcade(Monthly)<br>Change
    <p>$9/mo</p>
</div>

<div class="choix">
    <p class="section">Online service <br>Larger storage</p>
    <p>+$1/mo<br>+$2/mo</p>
</div>
<div class="choix">
    <p class="section">Total (per month)</p>
    <p>$12/mo</p>

</div>
</div>
</div>
<!-- <div class="card2"> -->
<!-- message thank you
Thank you!
Thanks for confirming your subscription! We hope you have fun using our platform. If you ever need support, please feel free to email us at support@loremgamin.com.-->