<!-- <div class="header">

    <img id="entete" src="./assets/bg-sidebar-mobile.jpg" alt="image_entete">
    
    <ul class="menu">
    
          <li><a href="#">1</a></li>
          <li><a [routerLink]="['/page2']">2</a></li>
          <li><a [routerLink]="['/page3']">3</a></li>
          <li><a [routerLink]="['/page4']">4</a></li>
    
    </ul>
    
</div> -->

<!-- message thank you
Thank you!
Thanks for confirming your subscription! We hope you have fun using our platform. If you ever need support, please feel free to email us at support@loremgamin.com.-->