

<div class="card">
<h1>Pick add-ons</h1>
<p class="description">Add-ons help enhance your gaming experience.</p>


<div class="choix">
    <input type="checkbox" id="online service" name="online service" checked>
    <label for="Online">Online service<br>Access to multiplayer games</label>
    <p>+$1/mo</p>
</div>

  <div class="choix">
    <input type="checkbox" id="larger storage" name="larger storage">
    <label for="larger">Larger storage<br>Extra 1TB of cloud save</label>
    <p>+$2/mo</p>
</div>

  <div class="choix">
    <input type="checkbox" id="customizable profile" name="customizable profile">
    <label for="customizable">Customizable profile<br>Custom theme on your profile</label>
    <p>+$2/mo</p>
</div>
</div>