<!-- <div class="header">

    <img id="entete" src="./assets/bg-sidebar-mobile.jpg">
    
    <ul class="menu">
    
          <li><a href="#">1</a></li>
          <li><a [routerLink]="['/page2']">2</a></li>
          <li><a [routerLink]="['/page3']">3</a></li>
          <li><a [routerLink]="['/page4']">4</a></li>
    
    </ul>
    
</div> -->

<div class="card">
<h1>Pick add-ons</h1>
<p>Add-ons help enhance your gaming experience.</p>


<div class="choix">
    <input type="checkbox" id="online service" name="online service" checked>
    <label for="Online">Online service<br>Access to multiplayer games</label>
    <p>+$1/mo</p>
</div>

  <div class="choix">
    <input type="checkbox" id="larger storage" name="larger storage">
    <label for="larger">Larger storage<br>Extra 1TB of cloud save</label>
    <p>+$2/mo</p>
</div>

  <div class="choix">
    <input type="checkbox" id="customizable profile" name="customizable profile">
    <label for="customizable">Customizable profile<br>Custom theme on your profile</label>
    <p>+$2/mo</p>
</div>
</div>