
<div class="card">
<h1>Select your plan</h1>
<p class="description">You have the option of monthly or yearly billing</p>

<div class="choix">
    <img src="./assets/icon-arcade.svg" alt="icon-arcade">
    <p class="prix">Arcade<br>
    $9/mo</p> 
</div>

<div class="choix">
    <img src="./assets/icon-advanced.svg" alt="icon-advanced">
    <p class="prix">Advanced<br>
    $12/mo</p> 
</div>

<div class="choix">
    <img src="./assets/icon-pro.svg" alt="icon-pro">
    <p class="prix">Pro<br>
    $15/mo</p> 
</div>



<form name="temps">
  <label class="btToggle">
   <p>Monthly</p> 
   <span class="btn">
      <input type="checkbox" name="temps-mode">
      <span class="slider"></span>
    </span> 
  <p>Yearly</p>
  </label>
</form>

