h1{
    display:flex;
    justify-content: left;
    color:hsl(213, 96%, 18%);
}

body{

    background-color: hsl(231, 11%, 63%);
}

.description{

  
    margin: 4vw;
    color:grey;
}

.card{

    position:relative;
    background-color:white;
    width: 80%;
    margin: auto;
    top: 90px;
    padding: 20px;
    border-radius: 20px;
 
}

.formulaire{

    display:flex;
    flex-direction: column;
    gap:15px;
    width: 100%;
  
}

input{
    
    padding: 10px;
    border-radius: 2%;
    border: 1px solid hsl(231, 11%, 63%);
}

// .section{

//     // display:flex;
// }
 
@media (min-width: 375px) {


}


@media (min-width: 1440px){

}
