h1{
    display:flex;
    justify-content: left;
    color:hsl(213, 96%, 18%);
}

.description{

    color: hsl(231, 11%, 63%);
    margin: 20px 0px;

}

.card{

    position:relative;
    background-color:white;
    width: 80%;
    height: auto;
    border-radius: 3%;
    margin: auto;
    padding: 20px;
        top: 90px;
        display:flex;
        flex-direction: column;
        gap:20px;
 
}

.formulaire{

    display:flex;
    flex-direction: column;
    gap:5px;
    width: 100%;
  
}

.section{

   
    color:hsl(213, 96%, 18%);
}

input{
    
    padding: 15px;
    border-radius: 2%;
    border: 1px solid hsl(231, 11%, 63%);
    color:hsl(231, 11%, 63%);
   
}

 
@media (min-width: 375px) {


}


@media (min-width: 1440px){

}
